<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="2">
    <test name="caseName1" time-out="3000">
        <packages>
            <package name="com.south.oly.*">
            </package>
        </packages>
    </test>
    <listeners>
    </listeners>
</suite>